@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    font-family: "Tektur", sans-serif;
}

header {
    background-color: #E46307;
    height: 100px;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .title_header {
            display: flex;
            align-items: center;
            color: white;
            gap: 10px;

            .title_jynx {
                font-size: 22px;
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 16px;

            .btnLogout {
                background-color: white;
                border: none;
                padding: 5px 20px;
                cursor: pointer;
                border-radius: 2px;
            }

            .btnLogout:hover {
                background-color: rgb(210, 210, 210);
            }

            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                color: rgb(204, 204, 204);
            }
        }

    }

}


@media (max-width: 680px) {

    header {

        .container {

            display: flex;
            flex-direction: column;
            padding: 20px;


            .title_header {

                .barra {
                    display: none;
                }

            }
        }

    }

}