@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    font-family: "Tektur", sans-serif;
}

header {
    background-color: #E46307;
    height: 100px;
    justify-content: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .title_header {
            display: flex;
            align-items: center;
            color: white;
            gap: 10px;

            .title_jynx {
                font-size: 22px;
            }
        }

        nav {
            display: flex;
            align-items: center;
            gap: 16px;

            a {
                text-decoration: none;
                color: white;
            }

            a:hover {
                color: rgb(204, 204, 204);
            }


        }

        .flex {
            display: flex;
            align-items: center;
            gap: 10px;

            .btnLogout {
                background-color: white;
                border: none;
                padding: 5px 20px;
                cursor: pointer;
                border-radius: 2px;
            }

            .btnLogout:hover {
                background-color: rgb(210, 210, 210);
            }

            img:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

        }

    }

}

.containerModal {
    position: fixed;
    /* fixa o container sobre toda a tela */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    /* fundo escurecido */
    display: flex;
    justify-content: center;
    /* centraliza horizontalmente */
    align-items: center;
    /* centraliza verticalmente */
    z-index: 9999;

    /* garante que fique sobre outros elementos */
    .card {
        background-color: #fff;
        padding: 2rem;
        border-radius: 12px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        width: 600px;
        height: 700px;
        text-align: center;
        animation: fadeIn 0.3s ease-in-out;

        .headerModal {
            display: flex;
            justify-content: space-between;

            img {
                cursor: pointer;
            }

        }

        .main {

            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-around;
            height: 30%;

            .formControl{
                display: flex;
                gap: 10px;

                button{
                    background-color: #E46307;
                    color: white;
                    border: none;
                    padding: 2px 15px;
                    border-radius: 2px;
                    cursor: pointer;
                }

                button:hover{
                    background-color: #f87b21;
                }

            }

        }

    }
}


/* Animação suave de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media (max-width: 680px) {

    header {

        .container {

            display: flex;
            flex-direction: column;
            padding: 20px;


            .title_header {

                .barra {
                    display: none;
                }

            }
        }

    }

}